.contribution:not(foo) .nav__button:not(foo) {
  color: #000;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  filter: none;
  opacity: 1;

  &:hover,
  .nav__wrap:hover button:not(foo) {
    color: #fff;
    background-color: #000;
    box-shadow:
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    opacity: 1 !important;
  }

  &:active {
    box-shadow:
      0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

.contribution {
  bottom: 0 !important;
  height: auto !important;
  top: calc(100% - 40px) !important;
  padding-bottom: 8px;
}