.nav__wrap:not(foo) .nav__button:not(foo) {
  border-radius: 8px;
  background-color: #1976d2;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  filter: none;
  opacity: 1;

  &:hover,
  .nav__wrap:hover button:not(foo) {
    background-color: #1565c0;
    box-shadow:
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    opacity: 1 !important;
  }
  &:active {
    box-shadow:
      0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

.nav__wrap {
    bottom: 0 !important;
    height: auto !important;
    top: calc(100% - 40px) !important;
}